page-music {
  
  .edit_toggle{
       width: 140px;
       text-decoration: none;
       float: right;
   }
   .list_items{
       border-bottom: 0.55px solid rgb(204, 204, 204);
   }
   .item-ios.item-block .item-inner {
    border-bottom:  transparent !important;
    }
    .scroll_list_song{
        overflow-y: scroll;
        width: 100%;
        height: 280px;
    }
}
.icon_logout{
    font-size: 30px;
}
