page-home {
    .contenedor{
       .div-1{
           width: 90%;
           margin: auto;
           .button-1{
               background-color: aquamarine;
               color:black;
           }
       }

    }   
}
.button-md{
    background-color: rgba(37, 37, 37, 0.849);
}
